
<div class="container">
  <h2 class="text-center">Recent flats</h2>
  <div class="row">
    <% data.flats.each do |owner, flat| %>
      <div class="col-md-4">
        <div class="card" style="background-image: url(<%= flat.picture %>);">
          <div class="card-category">
            <h3><%= flat.category %></h3>
          </div>
          <div class="card-description">
            <h2><%= flat.city_slug.capitalize %></h2>
            <p><%= flat.description %></p>
          </div>
<!--           <img class="card-user" src="<%= flat.host %>">
          <a class="card-link" href="#" ></a> -->
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class:"card-user" %>
          <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
